:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  margin: 0;
  font-family: "Merriweather", "Georgia", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  color: var(--text);
}

h1,
h3 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.App {
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 1rem;
  max-width: 700px;
}

header h1 {
  font-size: 3em;
}

header h1 a {
  color: var(--link);
  text-decoration: none;
}

article {
  margin-bottom: 3rem;
}

article p {
  margin-top: 0.25rem;
}

article h3 {
  margin-bottom: 0rem;
}

article h3 a {
  color: var(--link);
  text-decoration: none;
}
